html,
body {
	height: 100%;
}

body::before {
	content: ;
	display: none;
}

.notification__success,
.notification__error {
	margin-bottom: 16px;
	line-height: 24px;
}

.notification__error--top {
	margin-left: -16px;
	margin-right: -16px;
	margin-bottom: 16px;
	width: auto;
}

.notification__success--top-border-radius {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.notification__error--text {
	line-height: 24px;
}

.notification__error--text p {
	display: block;
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	color: #38505e !important;
}

.notification__error--text p:last-child {
	margin-bottom: 0;
}

.notification__error--text p a {
	color: #38505e !important;
}

.profile__button {
	z-index: 2;
}

a.button {
	padding-top: 10px;
	padding-bottom: 10px;
}

.content-center {
	justify-content: center;
}

.navigation__item--active a {
	text-decoration: none;
}

.card-post,
.card-portfolio {
	margin-bottom: 50px;
	margin-right: 30px;
}

.card-post:nth-child(3n+3),
.card-portfolio:nth-child(3n+3) {
	margin-right: 0;
}

.card-post__image {
	overflow: hidden;
}

.blog-post-heading-wrapper {
	width: 730px;
}

.blog-post__title {
	width: 630px;
}

.contacts__value--bold-link {
	display: block;
}

.delete {
	z-index: 2;
}

input[data-skill][type="number"]:invalid+span:after {
	content: '✖';
	position: absolute;
	top: 40px;
	left: 0px;
	cursor: auto;
}

input[data-skill][type="number"]:valid+span:after {
	content: '✓';
	position: absolute;
	top: 40px;
	left: 0px;
	cursor: auto;
}

.logo-wrapper {
	height: auto;
}

.footer {
	padding-bottom: 60px;
}